const timesArrayKey = "{{puzzle.lower()}}{{algset.lower()}}TimesArray";
const selectionArrayKey = "{{puzzle.lower()}}{{algset.lower()}}Selection";
var trainerTitle = "{{ puzzle }} {{ algset }} Trainer";
var preRotations = {{ pre_rotations }};
var postRotations = {{ post_rotations }};
var preMoves = {{ premoves }};
var postMoves = {{ postmoves}};
var selCases = [];
var maxAlgsPerRow = {{ max_algs_per_row}};